* {
  margin: 0;
}

//  FONTS

$firaSans: "Fira Sans", sans-serif;
$fatFace: "Abril Fatface", cursive;

// VARIABLES

$color: #d35400;
$h1: 90px;
$h2: 72px;
$h3: 50px;
$p: 21px;

//  GENERAL

h1,
h2,
h3 {
  font-family: $fatFace;
}

body {
  
  #home-user, #home-admin {
    padding-left: 250px;
    background-image: url("../img/joueur-avec-ballon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
    color: white;

    .btn-header {
      position: absolute;
      left: 0;
      padding: 15px;
    }

    .open-header,
    .close-header {
      position: absolute;
      color: white;
      font-size: 45px;
      left: 0;
      cursor: pointer;
    }
    .close-header {
      display: none;
    }

    .open-header {
      display: block;
    }

    .intro {
      .intro-content {
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 150px;
        p {
          color: white;
        }
      }
    }
  }

  #header-admin{

    ul{
      li{

        list-style: none;

        a{

          text-decoration: none;
        }
      }
    }
  }
}

header {
  position: fixed;
  left: -50%;
  top: 0;
  height: 100vh;
  width: 20%;
  // background: linear-gradient(#d35400, #fa741e);
  background-color: #fefefe;
  padding-top: 90px;
  color: black;

  @media only screen and (max-width: 1200px) {
    width: 30%;
    padding-top: 90px;
    margin-top: 0;
  }

  .user-info {
    padding-left: 30px;

    h3 {
      color: black;
      margin-left: 15px;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
  ul {
    margin-top: 120px;
    padding-left: 0;

    @media only screen and (max-width: 1366px) {
      padding-top: 0;
      margin-top: 30px;
    }

    @media only screen and (max-width: 1200px) {
    }

    li {
      padding: 20px 0;
      margin: 15px 0;

      @media only screen and (max-width: 1366px) {
        margin: 10px 0;
      }

      list-style: none;

      i {
        font-size: 25px;
        cursor: pointer;
        margin-left: 30px;
      }
      a {
        color: black;
        margin-left: 15px;
        font-size: 25px;
        @media only screen and (max-width: 1366px) {
          font-size: 20px;
        }
      }
    }
    li:hover {
      background-color: black;
      color: white;
      
      a{
        color: $color;
      }
    }
  }

  .logo {
    img {
      position: absolute;
      bottom: 0;
      left: 22%;
    }
  }
}

#section-login {
  background-image: url("../img/fond-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  min-height: 100vh;
  padding-top: 25vh;

  h1 {
    color: $color;
    // background-color: rgba(255,255,,0.3);
    text-align: center;
    font-size: $h1;
    font-weight: 700;
    font-family: $firaSans;
  }

  .focus-input100::after {
    font-family: Linearicons-Free;
    font-size: 18px;
    color: white;

    content: attr(data-placeholder);
    display: block;
    width: 5%;
    position: absolute;
    top: 30px;
    left: 10px;
    color: $color;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .input-group {
    margin: 10px 0px 10px 0px;

    label {
      display: block;
      text-align: left;
      margin: 3px;
      font-weight: 700;
      color: black;
    }

    input {
      height: 30px;
      width: 93%;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid gray;
    }
  }
}

.header-form {
  color: white;
  background: $color;
  opacity: 0.5;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;

  #btn_connection {
    color: black;
    opacity: 1;
    font-weight: 700;
  }
}
.form-login,
.content {
  width: 20%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 10px 10px;
}

#user_type {
  height: 40px;
  width: 98%;
  padding: 5px 10px;
  background: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn-login {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: $color;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid $color;
  color: $color;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  text-align: center;
}
.profile_info img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  // float: left;
}
.profile_info div {
  display: inline-block;
  margin: 5px;
}
.profile_info:after {
  content: "";
  display: block;
  clear: both;
}

.custom-nav {
  height: 50px;
  background-color: rgb(0, 0, 114);

  img {
    height: 30px;
  }

  .username-connect {
    strong {
      line-height: 47px;
      color: grey;
    }
  }
}

.notification_info {
  .dn {
    display: none;
  }
  .success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
}

#create-user {
  background-image: url("../img/create-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;

  .intro {
    h1 {
      font-size: $h1;
      color: $color;
      font-family: $firaSans;
    }
  }
}
