* {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Abril Fatface", cursive;
}

body #home-user, body #home-admin {
  padding-left: 250px;
  background-image: url("../img/joueur-avec-ballon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  color: white;
}

body #home-user .btn-header, body #home-admin .btn-header {
  position: absolute;
  left: 0;
  padding: 15px;
}

body #home-user .open-header,
body #home-user .close-header, body #home-admin .open-header,
body #home-admin .close-header {
  position: absolute;
  color: white;
  font-size: 45px;
  left: 0;
  cursor: pointer;
}

body #home-user .close-header, body #home-admin .close-header {
  display: none;
}

body #home-user .open-header, body #home-admin .open-header {
  display: block;
}

body #home-user .intro .intro-content, body #home-admin .intro .intro-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 150px;
}

body #home-user .intro .intro-content p, body #home-admin .intro .intro-content p {
  color: white;
}

body #header-admin ul li {
  list-style: none;
}

body #header-admin ul li a {
  text-decoration: none;
}

header {
  position: fixed;
  left: -50%;
  top: 0;
  height: 100vh;
  width: 20%;
  background-color: #fefefe;
  padding-top: 90px;
  color: black;
}

@media only screen and (max-width: 1200px) {
  header {
    width: 30%;
    padding-top: 90px;
    margin-top: 0;
  }
}

header .user-info {
  padding-left: 30px;
}

header .user-info h3 {
  color: black;
  margin-left: 15px;
}

header .user-info i {
  font-size: 25px;
  cursor: pointer;
}

header ul {
  margin-top: 120px;
  padding-left: 0;
}

@media only screen and (max-width: 1366px) {
  header ul {
    padding-top: 0;
    margin-top: 30px;
  }
}

header ul li {
  padding: 20px 0;
  margin: 15px 0;
  list-style: none;
}

@media only screen and (max-width: 1366px) {
  header ul li {
    margin: 10px 0;
  }
}

header ul li i {
  font-size: 25px;
  cursor: pointer;
  margin-left: 30px;
}

header ul li a {
  color: black;
  margin-left: 15px;
  font-size: 25px;
}

@media only screen and (max-width: 1366px) {
  header ul li a {
    font-size: 20px;
  }
}

header ul li:hover {
  background-color: black;
  color: white;
}

header ul li:hover a {
  color: #d35400;
}

header .logo img {
  position: absolute;
  bottom: 0;
  left: 22%;
}

#section-login {
  background-image: url("../img/fond-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  min-height: 100vh;
  padding-top: 25vh;
}

.login h1 {
  color: #d35400;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
}

.login .focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: white;
  content: attr(data-placeholder);
  display: block;
  width: 5%;
  position: absolute;
  top: 30px;
  left: 10px;
  color: #d35400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login .input-group {
  margin: 10px 0px 10px 0px;
}

.login .input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  font-weight: 700;
  color: black;
}

.login .input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.header-form {
  color: white;
  background: #d35400;
  opacity: 0.5;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.header-form #btn_connection {
  color: black;
  opacity: 1;
  font-weight: 700;
}

.form-login,
.content {
  width: 20%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 10px 10px;
}

#user_type {
  height: 40px;
  width: 98%;
  padding: 5px 10px;
  background: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn-login {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #d35400;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #d35400;
  color: #d35400;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  text-align: center;
}

.profile_info img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.profile_info div {
  display: inline-block;
  margin: 5px;
}

.profile_info:after {
  content: "";
  display: block;
  clear: both;
}

.custom-nav {
  height: 50px;
  background-color: #000072;
}

.custom-nav img {
  height: 30px;
}

.custom-nav .username-connect strong {
  line-height: 47px;
  color: grey;
}

.notification_info .dn {
  display: none;
}

.notification_info .success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

#create-user {
  background-image: url("../img/create-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}

#create-user .intro h1 {
  font-size: 90px;
  color: #d35400;
  font-family: "Fira Sans", sans-serif;
}
/*# sourceMappingURL=style.css.map */